<style>
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@page{
	size: A4;
	margin: 0;
}
@media print {
  @page {
    size: A4;
    margin: 0; /* Definiere einen Rand von 10mm */
  }
}
@media print{
  * {
    font-family: Playwrite+DE+Grund,sans-serif;
  }
}
</style>

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:Playwrite+DE+Grund, sans-serif ;
}
body{
	background:black;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;

}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	background: skyblue;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}
.container .left_Side{
	position: relative;
	background: #003147;
	padding: 40px;
}
.profileText{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx{
	position: relative;
	width: 50mm;
	height: 60mm;
	border-radius: 15px;
	overflow: hidden;
}
.profileText .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
}
.profileText h2{
	color:#fff;
	font-size: 1.5em;
	margin-top: 5px;
	text-transform: uppercase;
	text-align: top;
	font-weight: 600;
	line-height: 1.4em;
}
.profileText h2 span{
	font-size: 0.8em;
	font-family: 200;
}
.contactInfo{
	padding-top: 5px;
}
.title{
	color:#fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.contactInfo ul{
	position: relative;
}
.contactInfo ul li{
	position: relative;
	list-style: none;
	margin: 5px 0;
	cursor: pointer;
}
.contactInfo ul li .icon{
	display: inline-flex;
	width: 25px; 
	font-size: 18px;
	color:white;
}
.contactInfo ul li span{
	color: #fff;
}
.contactInfo.education li{
	margin-bottom: 5px;
	color:#fff;
}

.contactInfo.language table{
	width: 100%;
}
.contactInfo.language table td{
	color: white;
	font-weight: 300;
	text-align: center;
}
.interest ul{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.interest ul li{
	list-style: none;
	color: white;
	font-weight: 500;
	margin: 5px 0;
}
.interest ul li .fa{
	color:white;
	font-size: 18px;
	width: 20px;
}
.container .right_Side{
	position: relative;
	background: black;
	padding: 40px;
}
.about{
	margin-bottom: 10px;
}
.about:last-child{
	margin-bottom: 0;
}
.title2{
	color:white;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	margin-top:0;
}
.about table td{
	color: white;
	font-weight: 300;
	text-align: center;
	border: 1px solid white;
  border-collapse: collapse;
}
.skills .box{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
}
.skills .box h3{
	color: white;
	font-weight: 500;
}
.skills .box .percent{
	position: relative;
	width: 100%;
	height: 10px;
	background: #003147;
}
.skills .box .percent div{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: white;
}


